/**** USER AGENT ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/**** HOME ****/

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"); */

/* @import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"); */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #8B7500;
  display: inline-block;
  text-align: center;
}

li {
  display: inline-block;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: White;
  font-size: 20px;
}

header {
  min-height: 700px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/home/mountain-lake.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: White;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  color: White;
  padding: 20px;
}

#lodge-1 {
  background-image: url("/styles/images/home/lodge-1.jpg");
  background-position: center;
  background-size: 600px;
  height: 600px;
  width: 600px;
}

#lodge-1-text {
  /* color: #556B2F; */
}

#mountain-view {
  background-image: url("/styles/images/home/mountain-view.jpg");
  background-position: center;
  background-size: 600px;
  height: 600px;
  width: 600px;
}

#mountain-view-text {
  /* color: #556B2F; */
}

#deer {
  background-image: url("/styles/images/home/deer.jpg");/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

#fox {
  background-image: url("/styles/images/home/fox.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

#mountainCaption {
  background-color: white;
  color: black;
  display: block;
  font-family: monospace;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 90%;
  width: 60%;
  opacity: 0.50;
}

#deerCaption {
  background-color: white;
  color: black;
  display: block;
  font-family: monospace;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 50%;
  width: 60%;
  opacity: 0.50;
}

#foxCaption {
  background-color: white;
  color: black;
  display: block;
  font-family: monospace;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 67%;
  width: 60%;
  opacity: 0.50;
}

hr {
  border-color: #8B7500;
}



/**** SLEEP ****/

.sleep-header {
  min-height: 700px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/sleep/deck-view.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sleep-text {
  width: 100%;
  text-align: center;
  color: White;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 300px;
}

.sleep-text .border {
  color: White;
  padding: 20px;
}

#lodge-interior {
  background-image: url("/styles/images/sleep/lodge-interior.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  height: 600px;
  width: 600px;
}

#sleep-text-2 {
  /* color: #556B2F; */
}

#a-frame {
  background-image: url("/styles/images/sleep/a-frame-1.jpg");/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

#laptop-antler {
  background-image: url("/styles/images/sleep/laptop-antler.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}



/**** PLAY ****/

.play-header {
  min-height: 700px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/play/hoarfrost.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.play-text {
  width: 100%;
  text-align: center;
  color: White;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 300px;
}

.play-text .border {
  color: White;
  padding: 20px;
}

#logs {
  background-image: url("/styles/images/play/logs.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  height: 600px;
  width: 600px;
}

#play-text-2 {
  /* color: #556B2F; */
}

#fishing {
  background-image: url("/styles/images/play/fishing.jpg");/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

#lake-swimming {
  background-image: url("/styles/images/play/lake-swimming.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

/**** FOOTER ****/

footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 100px;
  margin-top: 20px;
  padding-top: 20px;
}
